@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

@font-face {
    font-family:Anton-Regular ;
    src: url("./assets/Font/Anton-Regular.ttf");
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .tech {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  